#loadingicon {
  display: flex;
}
*,
body,
p {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#loading {
  display: flex;
}

.card {
  display: flex;
  height: 420px;
  width: 900px;
}

.card img {
  height: 300px;
  width: 250px;
  align-items: center;
}
